@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    
    @if(User.Identity.IsAuthenticated){
        <div style="text-align: right;">
            <a class="btnhower" href="">Create topic &#xFF0B;</a>
        </div>
        
    }else{
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h2>This page is main page of @ViewData["Name"]</h2>
            <p>
                This Social network was created as a project for my studies.
                <br>
                You can see all data after logging in.
            </p>
        </div>
    }